<ng-container *ngIf="userDetails$ | async as userDetails">
  <!-- cazul pentru admin -->
  <ng-container *ngIf="userDetails.role === 'admin'">
    <div
      class="notification-container"
      *ngIf="{resolved: adminResolvedNotifications$ | async, unresolved: adminUnresolvedNotifications$ | async} as notifications"
    >
      <h4 *ngIf="notifications.unresolved && notifications.unresolved.length > 0">Cereri nerezolvate</h4>
      <!-- lista notificari nerezolvate -->
      <ion-list
        *ngIf="{listaStudenti: listaStudenti$ | async, listaProfesori: listaProfesori$ | async} as data"
      >
        <ng-container *ngFor="let notification of notifications.unresolved">
          <ion-item
            class="notification-item"
            (click)="openNotification(notification, data)"
          >
            <ion-label class="notification-label">
              <p>De la: {{ getMessageAuthorName(notification, data) }}</p>
              <h2>{{notification.title}}</h2>
            </ion-label>
          </ion-item>
        </ng-container>
      </ion-list>

      <h4 *ngIf="notifications.resolved && notifications.resolved.length > 0 && !showOnlyNotResolved">Cereri rezolvate</h4>
      <!-- lista notificari rezolvate -->
      <ion-list
        *ngIf="!showOnlyNotResolved && {listaStudenti: listaStudenti$ | async, listaProfesori: listaProfesori$ | async} as data"
      >
        <ng-container *ngFor="let notification of notifications.resolved">
          <ion-item class="notification-item disabled">
            <ion-label class="notification-label">
              <p>De la: {{ getMessageAuthorName(notification, data) }}</p>
              <h2>{{notification.title}}</h2>
            </ion-label>
            <ion-icon (click)="removeNotification(notification, 'admin')" name="close-outline"></ion-icon>
          </ion-item>
        </ng-container>
      </ion-list>

      <p *ngIf="notifications.unresolved?.length === 0 && notifications.resolved?.length === 0">Nicio notificare</p>
    </div>
  </ng-container>

  <!-- cazul pentru student / profesor -->
  <ng-container
    *ngIf="userDetails.role === 'student' || userDetails.role === 'teacher'"
  >
    <div
      class="notification-container"
      *ngIf="userNotifications$ | async as userNotifications"
    >
      <ion-list>
        <ion-item
          *ngFor="let notification of userNotifications"
          class="notification-item"
          (click)="openNotificationForUser(notification)"
        >
          <ion-label class="notification-label">
            <p>De la: Admin</p>
            <h2>{{notification.title}}</h2>
          </ion-label>
          <ion-icon (click)="removeNotification(notification, 'user')" name="close-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </ng-container>
</ng-container>
