.reset-password {
    display: flex;
    background-color: #fefefe;
    font-family: 'Poppins';

}
.container {
    width: 100%;
    margin-top: 50vh;
    transform: translate(0%, -50%);
}

.reset-password-text {
    text-align: center;
    color: #fefefe;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    margin-top: 3rem;
    position: absolute;
    width: 100%;
}

.header-image {
    width: 100vw;
    object-fit: cover;
    position: absolute;
}

.forgot-container {
    align-items: center;
    font-weight: 600;
    color: #fefefe;
}

.new-password-container {
    color: #505151;
    font-weight: 600;
    font-size: large;
}
    

.enter-container {
    color: #505151;
    margin-top: 0rem;
    font-weight: 200;
}

.password-container, .confirm-container {
    margin: 2rem 2rem;
    border-bottom: 1px solid #505151 !important;
    padding: 0 !important;

}

.password-text {
    border-left: 1px solid #505151 !important;
    padding-left: 0.5rem;
    color: #505151;
    font-weight: 300;
}

.password-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    margin-top: 3rem;
}

.icon-back {
    margin-top: -1rem;
    color: #fefefe;
}

ion-input {
    font-family: Poppins;
    ::ng-deep {
        .label-text {
            margin-top: -10px;
            color: #505151 !important;
            font-weight: 200;
        } 
    }
}

ion-button {
    font-weight: 900 !important;
    font-size: medium;
}


