
<img class="header-image" src="assets/images/forgot-password.svg" alt="">
<p class="reset-password-text">Reseteaza parola</p>
<div class="reset-password">
  <ion-grid class="container">
      
    <ion-row class="new-password-container ion-justify-content-center ion-align-items-center">
      <span>Introduceti noua parola</span>
    </ion-row>

    <ion-row class="enter-container ion-justify-content-center ion-align-items-center">
      <span>Alegeti o noua parola pentru contul dvs.</span>
    </ion-row>

    <ion-row class="password-container ion-justify-content-center ion-align-items-center" >
      <ion-col class="password-img" size="2">
        <img src="assets/images/password-icon-green.svg" alt="">
      </ion-col>
      <ion-col class="password-text">
        <ion-input label="Parola" labelPlacement="stacked" type="password" ></ion-input>
      </ion-col>
    </ion-row>

    <ion-row class="confirm-container ion-justify-content-center ion-align-items-center" >
      <ion-col class="password-img" size="2">
        <img src="assets/images/password-icon-green.svg" alt="">
      </ion-col>
      <ion-col class="password-text">
        <ion-input label="Confirmare Parola" labelPlacement="stacked" type="password" ></ion-input>
      </ion-col>
    </ion-row>

    <!-- Recover-password button -->
    <ion-row class="button-container ion-justify-content-center ion-align-items-center">
      <ion-col size="10">
        <ion-button expand="full" shape="round" color="secondary">Gata</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</div>