<ion-grid class="buttons-container ion-align-items-center"  *ngIf="(userDetails$ | async) as userDetails">
  <ion-row class="menu-item" routerLink="../general">
    <span>{{"profile.informatii-generale" | translate}}</span>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-row>
  <ion-row class="menu-item" routerLink="../notifications">
    <span>{{"profile.notificari" | translate}}</span>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-row>
  <ion-row class="menu-item" routerLink="../payment" *ngIf="userDetails.role === 'student'">
    <span>{{"profile.plati" | translate}}</span>
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-row>
  <ion-row class="menu-item" (click)="logout()">
    <span>{{"profile.iesi" | translate}}</span>
  </ion-row>
</ion-grid>