<ion-grid *ngIf="listaMaterii$ | async as listaMaterii">
  <ion-row *ngIf="listaMaterii?.length === 0">
    <span>No classes added</span>
  </ion-row>

  <ion-card *ngFor="let materie of listaMaterii">
    <ion-card-header>
      <ion-card-title>{{materie.className}}</ion-card-title>
      <ion-card-subtitle (click)="openDeleteModal(materie.id)">
        <ion-icon name="close-outline"></ion-icon>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content *ngIf="listaProfesori$ | async as listaProfesori">
      <p *ngFor="let professor of materie.professorList">
        {{getProfessorName(professor, listaProfesori)}}
      </p>
    </ion-card-content>
  </ion-card>

  <ion-row
    class="button-container ion-justify-content-center ion-align-items-center"
  >
    <ion-col size="10">
      <ion-button
        expand="full"
        shape="round"
        color="secondary"
        (click)="openModalToAddClass()"
        >Adaugă curs</ion-button
      >
    </ion-col>
  </ion-row>
</ion-grid>
<div class="backdrop" *ngIf="showModal" (click)="showModal = false"></div>
<div *ngIf="showModal">
  <form [formGroup]="classForm">
    <ion-row>
      <ion-input
        formControlName="className"
        label="Nume curs*"
        labelPlacement="stacked"
      ></ion-input>
    </ion-row>
    <ion-row>
      <ion-select
        *ngIf="listaProfesori$ | async as listaProfesori"
        label="Profesor*"
        placeholder="Alege"
        formControlName="professorList"
        [multiple]="true"
      >
        <ion-select-option *ngFor="let prof of listaProfesori" [value]="prof.id"
          >{{prof.firstName + ' ' + prof.lastName}}</ion-select-option
        >
      </ion-select>
    </ion-row>
    <ion-row>
      <ion-select label="Anul*" placeholder="Alege" formControlName="year">
        <ion-select-option value="1">Anul 1</ion-select-option>
        <ion-select-option value="2">Anul 2</ion-select-option>
        <ion-select-option value="3">Anul 3</ion-select-option>
        <ion-select-option value="4">Anul 4</ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row>
      <ion-select label="Semestrul*" placeholder="Alege" formControlName="semester">
        <ion-select-option value="1">Semestrul 1</ion-select-option>
        <ion-select-option value="2">Semestrul 2</ion-select-option>
      </ion-select>
    </ion-row>
    <ion-row>
      <ion-button
        expand="full"
        shape="round"
        color="secondary"
        (click)="addClass()"
        >Adaugă curs</ion-button
      >
    </ion-row>
  </form>
</div>
