<form [formGroup]="loginForm" class="login-page">
  <ion-grid class="container">
    <ion-row class="img-container ion-justify-content-center">
      <img src="assets/images/logo.svg" alt="">
    </ion-row>
    
    <!-- E-mail row -->
    <ion-row class="email-container ion-justify-content-center ion-align-items-center" >
      <ion-col class="email-img" size="2">
        <img src="assets/images/email-icon.svg" alt="">
      </ion-col>
      <ion-col class="email-text">
        <ion-input formControlName="email" label="E-MAIL" labelPlacement="stacked" ></ion-input>
      </ion-col>
    </ion-row>
    
    <!-- Password row -->
    <ion-row class="password-container ion-justify-content-center ion-align-items-center" >
      <ion-col class="password-img" size="2">
        <ion-icon name="{{ showPassword ? 'lock-open-outline' : 'lock-closed-outline' }}" (click)="toggleShowPassword()"></ion-icon>
      </ion-col>
      <ion-col class="password-text">
        <ion-input formControlName="password" label="PAROLA" labelPlacement="stacked" type="{{ showPassword ? 'text' : 'password' }}" ></ion-input>
      </ion-col>
    </ion-row>
    
    <!-- Forget password row  -->
    <ion-row class="forgot-container ion-justify-content-center ion-align-items-center">
      <span (click)="goToForgotPasswordPage()">Ai uitat parola?</span>
    </ion-row>
  
    <!-- Login button -->
    <ion-row class="button-container ion-justify-content-center ion-align-items-center">
      <ion-col size="10">
        <ion-button (click)="login()" expand="full" shape="round" color="secondary">Intră în cont</ion-button>
      </ion-col>
    </ion-row>
    <ion-toast
    [isOpen]="showErrorToase"
    [message]="toastErrorMessage"
    [duration]="5000"
    (didDismiss)="closeToast()"
  ></ion-toast>  </ion-grid>
</form>