ion-tab-bar, ion-tab-button {
    background-color: var(--ion-color-primary);
}

ion-tab-bar {
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    width: 90vw;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4rem;
    --color: var(--ion-color-light);
    --color-selected: var(--ion-color-light) !important;
    z-index: 1;
}

.proba {
    display: none;
}