<img class="header-image" src="assets/images/forgot-password.svg" alt="">
<p class="forgot-password-text">Forgot Password</p>
<div class="forgot-password">
  <ion-grid class="container">
      
    <ion-row class="mail-container ion-justify-content-center ion-align-items-center">
      <span>Mail Address Here</span>
    </ion-row>

    <ion-row class="enter-container ion-justify-content-center ion-align-items-center">
      <span>Enter the email address associated</span>
      <span>with your account.</span> 
    </ion-row>

    <ion-row class="email-container ion-justify-content-center ion-align-items-center" >
      <ion-col class="email-img" size="2">
        <img src="assets/images/email-icon2.svg" alt="">
      </ion-col>
      <ion-col class="email-text">
        <ion-input label="E-MAIL" labelPlacement="stacked" ></ion-input>
      </ion-col>
    </ion-row>

    <!-- Recover-password button -->
    <ion-row class="button-container ion-justify-content-center ion-align-items-center">
      <ion-col size="10">
        <ion-button (click)="goToEmailVerification()" expand="full" shape="round" color="secondary">Recover Password</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</div>